body {
    background-image: url('/AcNote/static/images/chaiquan.jpg');
    background-repeat: no-repeat;
    /* 不重复 */
    background-position: center center;
    /* 背景图在中心 */
    background-size: cover;
    /* 背景图覆盖整个区域 */
    background-origin: border-box;
    /* 背景图从边框开始 */
    height: 100%;
    /* 使body高度为视口高度 */
    margin: 0;
    /* 去掉默认的边距 */
    background-attachment: fixed;
    background-origin: border-box;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    /* 去掉默认列表样式 */
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}

nav>ul>li {
    position: relative;
    /* 为了定位二级列表 */
}



nav ul ul {
    display: none;
    /* 隐藏二级列表 */
    position: absolute;
    /* 绝对定位 */
    left: 0;
    /* 在父元素的左侧对齐 */
    top: 100%;
    /* 在父元素下方 */
}

nav ul li:hover>ul {
    display: block !important;
    /* 当鼠标悬停时显示二级列表 */
}

nav ul li a {
    display: block;
    color: white;
    /* text-align: center; */
    padding: 12px;
    text-decoration: none;
}



nav ul li a:hover {
    background-color: #111;
}

.box {
    background-color: aliceblue;
    height: 50%;
    width: 80%;
    border-radius: 2%;
    margin: 10%;
}

.copy_right {
    text-align: center;
    margin-bottom: 3%;
}